<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <table class="table">
        <h4 class="user_name mt-2 text-secondary">
          <%= @user.user_name %> さんがフォローしているユーザー
        </h4>
        <tbody>
          <% @user.followings.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, class: "search-profile-img rounded-circle" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', class: "rounded-circle", size: "60x60" %>
                  <% end %>
                <% end %>
              </td>
              <td class="align-middle">
                <% if user_signed_in? %>
                  <%= link_to user.user_name, user_path(user), class: "text-dark" %>
                <% else %>
                  <%= link_to user.user_name, admin_user_path(user), class: "text-dark" %>
                <% end %>
              </td>
              <td class="align-middle">
                <%= link_to followings_path(user), class: 'text-muted' do %>
                  フォロー
                  <%= user.followings.count %>人
                <% end %>
              </td>
              <td class="align-middle">
                <%= link_to followers_path(user), class: 'text-muted' do %>
                  フォロワー
                  <%= user.followers.count %>人
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>