<div class="container">
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-lg-12 mt-2 pb-3 border-bottom">
        <%= link_to user_path(article.user), class: "text-dark" do %>
          <% if article.user.profile_image.attached? %>
            <%= image_tag article.user.profile_image, class: "index-profile-img rounded-circle" %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: "rounded-circle", size: "50x50" %>
          <% end %>
          <%= article.user.user_name %>
        <% end %>
        <%= link_to article_path(article) do %>
          <%= image_tag article.post_image, class: "index-img" %>
        <% end %>
        <div class="text-muted text-right">
          <%= article.created_at.strftime('%Y.%m.%d') %>
        </div>
      </div>
    <% end %>
  </div>
</div>