<div class="container">
  <div class="row">
      <% @articles.each do |article| %>
      <div class="col-lg-12 mt-1 pb-3 border-bottom">
        <%= link_to public_user_path(article.user), class: "text-dark" do %>
          <% if article.user.profile_image.attached? %>
            <%= image_tag article.user.profile_image, class: "rounded-circle", size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
          <% end %>
          <%= article.user.user_name %><br>
        <% end %>
          <%#= render 'public/users/follow' %>
　　　   <%# end %>
        <%= link_to public_article_path(article) do %>
          <%= image_tag article.post_image, size: '900x600', class: "mt-2 mb-2" %><br>
        <% end %>
          <%= safe_join(article.body.split("\n"),tag(:br)) %><br>
      </div>
      <% end %>
  </div>
</div>