<div class="container">
  <div class="row">
      <div class="col-lg-9">
        <div class="profile-link mt-2 mb-2">
          <%= link_to public_user_path(@user), class: "text-dark" do %>
            <% if @article.user.profile_image.attached? %>
              <%= image_tag @article.user.profile_image, class: "rounded-circle", size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
            <% end %>
            <%= @article.user.user_name %>
          <% end %>
          <% if @article.user == current_user %>
            <%= link_to "投稿を編集", edit_public_article_path(@article),class: 'btn btn-success font-weight-bold border-dark pl-5 pr-5 ml-5' %>
          <% else %>
            <div></div>
          <% end %>
        </div>
          <% if @article.post_image.attached? %>
            <%= image_tag @article.post_image, size: '840x560' %>
          <% end %>
        <div class="favorite-comment mt-3">
          <% if @article.favorited_by?(current_user) %>
            <%= button_to "いいねを取り消す", public_article_favorites_path(@article), method: :delete, class: "btn-secondary" %>
          <% else %>
            <%= button_to "いいね！", public_article_favorites_path(@article), method: :post, class: "btn-warning" %>
          <% end %>
        </div>
          <%= safe_join(@article.body.split("\n"),tag(:br)) %>

<!--コメント-->
      <div>
        <% @article.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.profile_image, class: "rounded-circle", size: "50x50" %>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", public_article_post_comment_path(post_comment.article, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-3 border-left">
      <div class="article-reaction border-bottom d-flex  mt-3">
        <!--いいね機能-->
        <div class="favourite">
          <% if @article.favorited_by?(current_user) %>
              <i class="fas fa-heart fa-2x" style="color:#f4a460;"></i>
              <%= @article.favorites.count %>件
          <% else %>
              <i class="fas fa-heart fa-2x" style="color:#dcdcdc;"></i>
              <%= @article.favorites.count %>件
          <% end %>
        </div>
        <div class="comment-count pl-3">
          <i class="far fa-comment fa-2x"></i>
          <%= @article.post_comments.count %>件
        </div>
      </div>
        <!--いいね一覧-->
        <p>いいねしたユーザー</p>
        <% @article.favorited_users.each do |user| %>

        <%= link_to public_user_path(user), class: "text-dark" do %>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image, class: "rounded-circle", size: "50x50" %>
          <% else %>
            <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
          <% end %>
          <%= user.user_name %>
          <% end %>
        <% end %>

    </div>
  </div>
</div>