<div class="container">
  <div class="row">
    <%= form_with model: @article, url: public_article_path do |f| %>
      <div class="col-lg-9">
        <div class="profile-link mt-2 mb-2">
          <%= link_to public_user_path(@user), class: "text-dark" do %>
            <% if @article.user.profile_image.attached? %>
              <%= image_tag @article.user.profile_image, class: "rounded-circle", size: "50x50" %>
            <% else %>
              <%= image_tag 'no_image', class: "rounded-circle", size: "50x50" %>
            <% end %>
            <%= @article.user.user_name %>
          <% end %>
        </div>
        <% if @article.post_image.attached? %>
          <%= image_tag @article.post_image, size: '600x400' %>
        <% end %>

<!--いいね機能-->
        <% if @article.favorited_by?(current_user) %>
          <p>
            <%= link_to public_article_favorites_path(@article), method: :delete do %>
              ♥<%= @article.favorites.count %>
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to public_article_favorites_path(@article), method: :post do %>
              ♡<%= @article.favorites.count %>
            <% end %>
          </p>
        <% end %>

<!--いいね一覧-->
        <p>いいねしたユーザー</p>
        <% @article.favorited_users.each do |user| %>
          <li><%= user.user_name %></li>
        <% end %>

<!--コメント-->
      <div>
        <p>コメント件数：<%= @article.post_comments.count %></p>
        <% @article.post_comments.each do |post_comment| %>
          <%= image_tag post_comment.user.profile_image, class: "rounded-circle", size: "50x50" %>
          <%= post_comment.user.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% if post_comment.user == current_user %>
            <%= link_to "削除", public_article_post_comment_path(post_comment.article, post_comment), method: :delete %>
          <% end %>
        <% end %>
      </div>

        <div class="row">
          <div class="col-lg-2 ml-3"></div>
          <% if @article.user == current_user %>
            <%= link_to "投稿を編集", edit_public_article_path(@article),class: 'btn btn-success font-weight-bold border-dark pl-5 pr-5 mr-5' %>
          <% else %>
            <div></div>
          <% end %>
        </div>
  </div>
</div>
<% end %>