<div class="container">
  <div class="row">
    <%= form_with model: @article, url: public_article_path do |f| %>
      <div class="col-lg-9">
        <% if @article.post_image.attached? %>
          <%= image_tag @article.post_image, size: '600x400' %>
        <% end %>
        <%= @article.body %>
      </div>

        <div class="row">
          <div class="col-lg-2 ml-3"></div>
          <%= f.submit "変更を保存", class: 'btn btn-success font-weight-bold border-dark pl-5 pr-5 mr-5' %>
          <%= link_to "投稿を削除", public_article_index_path, method: :delete, class: 'btn btn-danger border-dark pl-5 pr-5', "data-confirm" => "本当に削除しますか？"  %>
        </div>
  </div>
</div>
<% end %>