<div class="container">
  <div class="row">
    <%= form_with model: @article, url: public_article_path do |f| %>
      <div class="col-lg-9">
        <div class="profile-link mt-2 mb-2">
          <%= image_tag @article.user.profile_image, class: "rounded-circle", size: "50x50" %>
          <%= @article.user.user_name %>
        </div>
        <% if @article.post_image.attached? %>
          <%= image_tag @article.post_image, size: '600x400' %>
        <% end %>

        <% if current_user.already_liked?(@article) %>
          <%= button_to 'いいねを取り消す', public_article_like_path(@article), method: :delete %>
        <% else %>
          <%= button_to 'いいね', public_article_likes_path(@article) %>
        <% end %>

<% if current_user.already_liked?(@article) %>
  <%= link_to public_article_like_path(@article), method: :post do %>
    <i class="far fa-heart like-btn" ></i>
  <% end %>
<% else %>
  <%= link_to public_article_like_path(@article), method: :delete do %>
    <i class="fas fa-heart unlike-btn"></i>
  <% end %>
  <% end %>

        <p>いいね件数: <%= @article.likes.count %></p>
        <%= safe_join(@article.body.split("\n"),tag(:br))%>
      </div>

      <h2>いいねしたユーザー</h2>
      <% @article.liked_users.each do |user| %>
        <li><%= user.user_name %></li>
      <% end %>



    <!--  <div>-->
    <!--  <p>コメント件数：<%#= @article.comments.count %></p>-->
    <!--  <%# @article.comments.each do |comment| %>-->
    <!--    <p><%#= image_tag comment.user.get_profile_image(80,80) %></p>-->
    <!--    <%#= comment.user.user_name %>-->
    <!--    <%#= comment.created_at.strftime('%Y/%m/%d') %><%#= comment.comment %>-->
    <!--  <%# end %>-->
    <!--</div>-->
    <!--<div>-->
    <!--  <%#= form_with model: [@article, @article_comment] do |f| %>-->
    <!--    <%#= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>-->
    <!--    <%#= f.submit "送信する" %>-->
    <!--  <%# end %>-->
    <!--</div>-->

        <div class="row">
          <div class="col-lg-2 ml-3"></div>
          <%= link_to "投稿を編集", edit_public_article_path(@article),class: 'btn btn-success font-weight-bold border-dark pl-5 pr-5 mr-5' %>
        </div>
  </div>
</div>
<% end %>