<div class="container">
  <div class="row">
    <div class="col-lg-9 mt-3">
    <%= form_with model: @user, url: admin_user_path do |f| %>
      <div class="d-flex">
        <label class="col-lg-3">会員ID</label>
        <div class="col-lg-3">
          <%= @user.id %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">プロフィール画像</label>
        <div class="col-lg-3">
          <%= f.file_field :profile_image, accept: "image/*" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">氏名</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name,autoforcus: true, autocomplete: "last_name",  placeholder: "(姓)" %>
        </div>
        <div class="col-lg-3">
          <%= f.text_field :first_name,autoforcus: true, autocomplete: "first_name",  placeholder: "(名)" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">フリガナ</label>
        <div class="col-lg-3">
          <%= f.text_field :last_name_kana,autoforcus: true, autocomplete: "last_name_kana",  placeholder: "(セイ)" %>
        </div>
        <div class="col-lg-3">
          <%= f.text_field :first_name_kana,autoforcus: true, autocomplete: "first_name_kana",  placeholder: "(メイ)" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">ユーザー名</label>
        <div class="col-lg-3">
          <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">電話番号</label>
        <div class="col-lg-3">
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "telephone_number" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">メールアドレス</label>
        <div class="col-lg-3">
          <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">生年月日</label>
        <div class="col-lg-3">
          <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 0), default: Date.new(2000, 1, 1) %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">自己紹介</label>
        <div class="col-lg-3">
          <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", cols: 50, rows: 5 %>
        </div>
      </div><br>

      <div class="d-flex">
        <label class="col-lg-3">会員ステータス</label>
          <div class="d-flex col-lg-3">
            <div class="mr-4">
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, '有効', value: false %>
            </div>
          <div>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, '退会', value: true %>
          </div>
        </div>
      </div>

        <div class="text-center mt-4">
          <%= f.submit "変更を保存", class: 'btn btn-success btn-lg w-20' %>
        </div>
      <% end %>

    </div>
  </div>
</div>