<div class="container border-right border-left">
  <div class="row border-bottom">
      <div class="col-lg-3 p-4">
        <% if @user.profile_image.attached? %>
          <%= image_tag @user.profile_image, class: "rounded-circle", size: "180x180" %>
        <% else %>
          <%= image_tag 'no_image', class: "rounded-circle", size: "180x180" %>
        <% end %>
      </div>

      <div class="col-lg-6 p-4">
        <%= @user.user_name %><br>
        <%= @user.introduction %><br>
        <p>フォロー</p>
        <p>フォロワー</p>
      </div>
      <div class="col-lg-3 p-4">
        <% if @user == current_user %>
          <%= link_to "プロフィール編集", edit_public_user_path(@user), class: "btn btn-success" %>
        <% else %>
          <div></div>
        <% end %>
      </div>
  </div>
  <% @articles.each do |article| %>
    <%= link_to public_article_path(article.id) do %>
      <%= image_tag article.post_image, class: "m-3", size: "300x200" %>
    <% end %>
  <% end %>
</div>
