<!DOCTYPE html>
<html>
  <head>
    <title>Tap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <span class="navbar-toggler-icon"></span>
          <nav class="navbar navbar-expand-sm navbar-dark">
            <%= link_to public_articles_path do %>
              <%= image_tag "logo.png", size: '200x100' %>
            <% end %>
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <!--検索欄-->
                <%= render 'public/searches/search' %>
              <%#= link_to public_article_like_path do %><i class="fas fa-heart fa-2x"  style="color:#f4a460;"></i><%# end %>
              <%= link_to new_public_article_path do %><i class="fas fa-camera fa-2x" style="color:#f4a460;"></i><% end %>
              <%= link_to public_articles_path do %><i class="fas fa-home fa-2x"  style="color:#f4a460;"></i><% end %>
              <%= link_to public_user_path(current_user) do %><i class="fas fa-user fa-2x"  style="color:#f4a460;"></i><% end %>
              <%= link_to destroy_user_session_path, method: :delete do %><i class="fas fa-sign-out-alt fa-2x"  style="color:#f4a460;"></i><% end %>

              <% elsif admin_signed_in? %>
              <!--検索欄-->
              <div class="input-group">
                <input type="text" id="txt-search" class="form-control input-group-prepend" placeholder="キーワードを入力"></input>
                <span class="input-group-btn input-group-append">
                  <submit type="submit" id="btn-search" class="btn btn-primary"><i class="fas fa-search"></i> 検索</submit>
                </span>
              </div>
              <li class="nav-item"><%= link_to "ユーザー一覧", admin_users_path, class: 'nav-link text-dark border ml-5' %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-dark border ml-5' %></li>

              <% else %>
              <li class="nav-item"><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark border ml-5' %></li>
              <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark border ml-5' %></li>
              <li class="nav-item"><%#= link_to 'ゲストログイン', public_public_articles_path, method: :post, class: 'nav-link text-dark border ml-5' %></li>
              <% end %>
            </ul>
          </nav>
      </header>

      <main>
      <%= yield %>
      </main>

    </body>
</html>
